
# PostgreSQL Configuration
POSTGRES_USER=master_user
POSTGRES_PASSWORD=master_password_123
POSTGRES_DB=master_db
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=10002

# DB ROLES PASSWORDS
DB_OWNER_PASSWORD=secret_owner
DB_USER_PASSWORD=secret_user
DB_READONLY_PASSWORD=secret_readonly

# pgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_password_123
PGADMIN_PORT=10003

# UI Configuration
UI_STORAGE_SECRET=storagesecret
JWT_SECRET=jwtsecretkey

# Initial Admin Accessor Configuration
INITIAL_ADMIN_LOGIN=admin
INITIAL_ADMIN_PASSWORD=admin1

INITIAL_SYSTEM_LOGIN=system
INITIAL_SYSTEM_PASSWORD=system1

# Initial Operator Accessor Configuration
INITIAL_OPER_LOGIN=operator
INITIAL_OPER_PASSWORD=oper1

# Robot Controller Configuration
ROBOT_USERNAME=Admin
ROBOT_PASSWORD=robotics

# Hugging Face API Key (Replace with your API key)
HUGGINGFACE_API_KEY=hf_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
